/MKWindowFormApp1/.vs/MKWindowFormApp1/v16/.suo
/MKWindowFormApp1/.vs/MKWindowFormApp1/v16/Server/sqlite3/db.lock
/MKWindowFormApp1/.vs/MKWindowFormApp1/v16/Server/sqlite3/storage.ide
/MKWindowFormApp1/MKWindowFormApp1/bin/Debug/MKWindowFormApp1.exe
/MKWindowFormApp1/MKWindowFormApp1/bin/Debug/MKWindowFormApp1.exe.config
/MKWindowFormApp1/MKWindowFormApp1/bin/Debug/MKWindowFormApp1.pdb
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/InProcessTempFiles/_MKWindowFormApp1.g.cs
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/MKWindowFormApp1.BoldForm2.resources
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/MKWindowFormApp1.csproj.FileListAbsolute.txt
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/MKWindowFormApp1.csproj.GenerateResource.cache
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/MKWindowFormApp1.csprojAssemblyReference.cache
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/MKWindowFormApp1.exe
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/MKWindowFormApp1.MainForm2.resources
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/MKWindowFormApp1.pdb
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/MKWindowFormApp1.Properties.Resources.resources
/MKWindowFormApp1/MKWindowFormApp1/obj/Debug/MKWindowFormApp1.ShapeModeDialog2.resources
